#frame{
    width:450px;
    height:335px;
    border:1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#forms{
    width:400px;
    height:20px;
    padding: 5px;
    border:1px solid #918f8f;
    display: flex; 
}

#continue{
    width:412px;
    height:30px;
    padding: 5px;
    border:1px solid #000;
    background-color: rgb(255, 183, 0);
}

#create{
    width:415px;
    height:30px;
    margin:20px;
    border:1px solid #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    display: inline;
    margin-left:40px;
    font-size: small;
}
html{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}